{% extends 'base.html.twig' %}

{% block title %}Nouvelle compagnie{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            
            <h1>Nouvelle compagnie</h1>

            {# {{ form(formulaire) }} intégrakité du formulaire #} 

            {{ form_start(formulaire, {})}}
                {# {{ form_widget(formulaire)}} #}

                {{ form_row(formulaire.nom)}}
                {{ form_row(formulaire.sigle)}}
                {{ form_row(formulaire.employes)}}
                <button class="btn btn-primary">VALIDER</button>
            {{ form_end(formulaire)}}
        
        </div>
    </div>
</div>




{% endblock %}